<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="MyTestSuite" verbose="1">
  <!-- This tells TestNG to use our custom listener for all tests in this suite -->
  <listeners>
    <listener class-name="com.suresh.automation.utils.Listeners"/>
  </listeners>

  <test name="SampleFunctionalTests">
    <classes>
      <class name="com.suresh.automation.tests.SampleTest"/>
    </classes>
  </test>
</suite>
