<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Techlistic Form Test Suite" verbose="1">
  <listeners>
    <listener class-name="com.suresh.automation.utils.Listeners"/>
  </listeners>

  <test name="Form Submission Tests">
    <classes>
      <class name="com.suresh.automation.tests.FormSubmissionTest"/>
    </classes>
  </test>
</suite>
